/node_modules
/vendor
/.git
/.idea
/.vscode
/.env.*.local
/.env.local
/.env.backup
/storage/*.key
/public/hot
/public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
